---
import Layout from "@layouts/Layout.astro";
import {
  WelcomeSection,
  SkillsSection,
  NavSection,
  MySection,
} from "@components/organisms";
---

<Layout title="Welcome!">
  <main>
    <WelcomeSection client:only />
    <NavSection client:only />
    <MySection client:only />
    <SkillsSection client:only />
  </main>
</Layout>
