---
import Layout from '@layouts/Layout.astro';
import { WelcomeSection, SkillsSection } from '@components/organisms';
---

<Layout title="Welcome!">
  <main>
    <WelcomeSection client:only />
    <SkillsSection client:only />
  </main>
</Layout>
